<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501615077583-8rntlup0crfcvmf5fn8vmpkfvvjbni36.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501615077583-8rntlup0crfcvmf5fn8vmpkfvvjbni36</string>
	<key>API_KEY</key>
	<string>AIzaSyDYqBAApmDKDKsmssF1a7AxVoB5XJPMTwo</string>
	<key>GCM_SENDER_ID</key>
	<string>501615077583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mahmoud.com.mvp.MVPArc</string>
	<key>PROJECT_ID</key>
	<string>mvparc-16a46</string>
	<key>STORAGE_BUCKET</key>
	<string>mvparc-16a46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501615077583:ios:142a2d7bb00ecb368a2fba</string>
</dict>
</plist>